[flake8]
# Maximum number of characters per line
max-line-length = 127

# Exclude folders that should not be analyzed
exclude =
    .git,
    .venv,
    .vscode,
    .github,
    build,
    dist,
    __pycache__,
    tests/__pycache__

# Show total number of errors
count = true

# Ignore minor style issues (conflicts with Black)
# Whitespace before ':' (conflicts with Black)
# Line break before binary operator (Black preference)
ignore =
    E203,
    W503,

# Only select critical errors and warnings
select = E,F,W,C90

# Only check .py files
filename = *.py

# Maximum allowed cyclomatic complexity per function
max-complexity = 15

# Show error code with the message
show-source = true

# Additional compatibility exclusions
extend-exclude = 
    .ipynb_checkpoints,
    env,
    notebooks
